.Title{
  display: flex;
  justify-content: center;
}
.Buttons-container{
  display: flex;
  justify-content: center;
}
.TrackBoard-container{
  display: grid;
  place-content: center;
  height: 90vh;
  border: 2px solid red;
}
.player{
  width: 10%;
}
.img-dice{
  width: 10%;
}
.img-play{
  width: 10%;
}